{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "standard-with-typescript",
        "plugin:react/recommended",
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "plugins": [
        "react",
        "no-relative-import-paths"
    ],
    "rules": {
        "react/react-in-jsx-scope": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/triple-slash-reference": "off",
        "no-case-declarations": "off",
        "react/no-unescaped-entities": "off",
        "no-relative-import-paths/no-relative-import-paths": [
            "warn",
            {
                "rootDir": "src",
                "prefix": "@"
            }
        ]
    }
}